body{
  overflow-x: hidden;
}
.container{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
header{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  gap: 50px;
}
.list-cont{
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  
}
.notask{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}